body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    min-width: 1122px;
    margin: 0;
    background-image: url("../img/bg_for_index.png");
}

/************************************************
Заголовки Барбершоп
*************************************************/

h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 0px;
    padding-top: 60px;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    margin-top: 0;
    margin-bottom: 35px;
}


/*************************************************
Оформление Хедера
**************************************************/

.main-header {
    min-height: 70px;
    background: #000000;
/*    margin-bottom: 60px;*/
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.logo-in-nav {
    width: 140px;
    float: left;
}

.main-navigation {
    width: 620px;
    float: left;
}

.user-block {
    width: 140;
    float: left;
}

/*************************************************
Оформление main-navigation
**************************************************/

.main-navigation li {
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
}

.main-navigation li a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

/*************************************************
Оформление breadcrumbs
**************************************************/

.breadcrumbs li {
    text-transform: uppercase;
    display: inline-block;
    
    margin-bottom: 60px;
}

.breadcrumbs {
    margin-top: 0;
    margin-bottom: 0;
}

/*************************************************
Оформление filters - две формы слева
**************************************************/


.filters, .catalog {
    float: left;
    width: 160px;
}

.filters {
    margin: 0 60px 60px 0;
}

.pagination, .main-footer {
    clear: both;
}

input[type="checkbox"] {
    margin-bottom: 20px;
    text-transform: uppercase;
}

input[type="radio"] {
    margin-bottom: 20px;
}

input[name="last"]{
    margin-bottom: 55px;
}

/*************************************************
Оформление catalog - блоков товаров
**************************************************/

.catalog {
    width: 710px;
/*    background: grey;*/
}

.foto {
/*    width: 220px;*/
/*    margin-bottom: 30px;*/
}

article {
    width: 220px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

article:nth-child(3) {
    margin-right: 0;
}

article:nth-child(6) {
    margin-right: 0;
}

/*************************************************
Оформление страница товара > фотоблок
**************************************************/

.item-foto-preview {
    width: 460px;
    margin-right: 60px;
    
}

.foto-main {
    margin-bottom: 20px;
}

.mini-foto {
/*    border: 1px solid #b0b0b0;*/
    margin-right: 17px;
    display: inline-block;
}

.mini-foto:last-child {
    margin-right: 0;
}

.little-foto-preview {
    margin-bottom: 50px;
}

/*************************************************
Оформление страница товара > описание
**************************************************/

.item-foto-preview, .item-review, .item-list {
    float: left;
}

.articule {
    padding-left: 150px;
}

.item-review-text {
    margin: 45px 0 50px 0;
}

.item-list {
    margin-top: 50px;
}
/*************************************************
Оформление страниц пагинации
**************************************************/

ul.pagination {
    margin: 0 0 50px 240px;
    text-transform: uppercase;
    padding-left: 0;
}

.pagination li {
    display: inline-block;
}

/*************************************************
Оформление футера
**************************************************/

.footer-contact, .footer-social, .footer-copyright {
    float: left;
}

.footer-contact {
    width: 310px;
    margin-right: 60px;
}

.footer-social {
    width: 140px;
    margin-right: 220px;
}

.footer-copyright {
    width: 140px;
}

.main-footer {
    background-image: url("../img/bg_footer.jpg");
}